<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %>

<body>
    <%- include('./includes/nav.ejs') %> 
    <div class="not-found content">
        OOPS, page not found :)
    </div>
    <%- include('./includes/footer.ejs') %> 
</body>

</html>