<!DOCTYPE html>
<html lang="en">

<%- include('./includes/head.ejs') %> 

<body>
    <%- include('./includes/nav.ejs') %> 
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tempora consequatur inventore doloribus quibusdam labore quidem quod fugiat minus aspernatur facere, rerum beatae itaque dolores tenetur! Corporis accusantium hic accusamus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tempora consequatur inventore doloribus quibusdam labore quidem quod fugiat minus aspernatur facere, rerum beatae itaque dolores tenetur! Corporis accusantium hic accusamus?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tempora consequatur inventore doloribus quibusdam labore quidem quod fugiat minus aspernatur facere, rerum beatae itaque dolores tenetur! Corporis accusantium hic accusamus?</p>
    </div>
    <%- include('./includes/footer.ejs') %> 
</body>

</html>